<div class="row main-container">
  <!-- side nav -->
  <div class="col-sm-3 col-md-2 sidebar">

    <ul class="nav-sidebar">
      <li>
        <a routerLink='./sizer' routerLinkActive="active">sizer</a>
      </li>
      <li>
        <a routerLink='./demo' routerLinkActive="active">Analytics</a>
      </li>
      <li>
        <a routerLink='./demo' routerLinkActive="active">Export</a>
      </li>
    </ul>
    <ul class="nav-sidebar">
      <li>
        <a routerLink='./demo' routerLinkActive="active">More navigation</a>
      </li>
    </ul>
  </div>

  <!-- main -->
  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <router-outlet></router-outlet>
    <demo-sizer [size]="12" (sizeChange)="$event"></demo-sizer>

    <demo-sizer [(size)]="fontSize"></demo-sizer>
    <div [style.font-size.px]="fontSize">
      wenzi文字
    </div>
  </div>

</div>